body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  text-align: center;
}

#addBook, #showLibrary {
  width: 25%
}

.books {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
}

.book {
  border: black solid 1px
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
